<table>
    <tr>
        <th>Time</th>
        <th>Transaction Amount</th>
        <th>Fraudulent?</th>
        <th>Send</th>
    </tr>
    <tbody>
        <tr *ngFor="let point of datapoints" [ngClass]="point.fraudClass ? 'fraud' : 'valid'">
            <td [class.selected]="point === selectedPoint">{{point.time}}</td>
            <td [class.selected]="point === selectedPoint">{{point.amount | currency:'USD'}}</td>
            <td [class.selected]="point === selectedPoint">{{point.fraudClass}}</td>
            <td [class.selected]="point === selectedPoint"><button (click)="sendData(point)">Predict</button></td>
        </tr>
    </tbody>
</table>
<div *ngIf="prediction">Sagemaker model predicts this datapoint to be: {{prediction}}</div>