<div class="p-grid p-fluid" [formGroup]="predictionForm">
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text"     
            formControlName="time"
            pInputText placeholder="Time">         
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">$</span>
            <input type="text" 
            pInputText placeholder="Amount"
            formControlName="amount"
            >   
            <span class="p-inputgroup-addon">.00</span>      
        </div>
    </div>
    <button (click)="sendData()">Submit</button>
</div>
<!-- <div *ngIf="submitted">Sagemaker model predicts this datapoint to be: {{submitted}}</div> -->